:root {
  --blue: #0066b2;
  --lightblue: #6cb4ee;
  --red: #b31b1b;
  --white: #ffffff;
  --darkgrey: #808080;
  --bluegrey: #6082B6;
  --black: (#000000);
}


.navi{
	color: #FFFFFF;
}

.naviLogo{
	height: 200%;
	padding-bottom: 8px;
}

 a:hover {
	background-color: var(--white);
	color: var(--black);
}

.navTitle {
	color: var(--black);
}

.navbar{
	background-color: var(--red);
	margin-bottom: 0px;
}

.banner{
	background-color: var(--bluegrey);
	text-align: center;
}

.bannest{
	background-color: lightgray;
	padding: 150px;
}

.pagehead{
}

.pagebox{
	margin-bottom: 0px;
	margin-top: 0px;
}

.BoxTitle{
	font-size: 2.5em;
	padding: 200px;
}

.BoxText{
	font-size: 1.5em;
	padding: 200px;
}

.leftbox{
	background-color: var(--lightblue);
	color: var(--white);
}

.rightbox{
	background-color: var(--blue);
	color: var(--white);
}

.footer{
	background-color: var(--bluegrey);
	color: white;
	padding: 50px;
}

.footerText{
	
}